<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="cube2x2-book-generate の規則" Description="cube2x2-book-generate.csproj のコード分析の規則です。" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>